<a href="https://colab.research.google.com/github/umairnsr87/Hitachi-DataEngineer-HackerEarth/blob/master/Cleaned_data_after%20preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [0]:
test = pd.read_csv('Test_1.csv')
train = pd.read_csv('Train_1.csv')

In [0]:
train["mean_halt_times_source"].fillna(640.265896,inplace=True)
train["latitude_source"].fillna(50.859663,inplace=True)
train["longitude_source"]=train["longitude_source"].fillna(4.360846)
train["country_code_source"].fillna("whber",inplace=True)
train["country_code_destination"].fillna("whber",inplace=True)
train["mean_halt_times_destination"].fillna(164.41907514451,inplace=True)
train.dropna(axis=0,how='any',inplace=True)

In [63]:
train.isna().sum()

id_code                        0
current_date                   0
current_time                   0
source_name                    0
destination_name               0
train_name                     0
target                         0
country_code_source            0
longitude_source               0
latitude_source                0
mean_halt_times_source         0
country_code_destination       0
longitude_destination          0
latitude_destination           0
mean_halt_times_destination    0
current_year                   0
current_week                   0
current_day                    0
is_weekend                     0
dtype: int64

In [64]:
train.shape,test.shape

((1251, 19), (964, 18))

In [0]:
#removing the target
target=train["target"]
#joining both train and test data for data cleaning
train["data"]="train"
train.drop(["target"],axis=1,inplace=True)
test["data"]="test"
data=pd.concat((train,test),ignore_index=True,axis=0)

In [66]:
#lets start to change the type of the data so that we can convert it into machine learning formal
data['source_name']=data['source_name'].str.replace("station","",case=False)
data['source_name']=data['source_name'].str.replace("$","")

#now change it from test and train
data['destination_name']=data['destination_name'].str.replace("station","",case=False)
data['destination_name']=data['destination_name'].str.replace("$","")

#now changing the datatype of these columns
data['source_name']=pd.to_numeric(data['source_name'])
data['destination_name']=pd.to_numeric(data['destination_name'])

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2215 entries, 0 to 2214
Data columns (total 19 columns):
id_code                        2215 non-null object
current_date                   2215 non-null object
current_time                   2215 non-null object
source_name                    2215 non-null int64
destination_name               2215 non-null int64
train_name                     2215 non-null object
country_code_source            2215 non-null object
longitude_source               2215 non-null float64
latitude_source                2215 non-null float64
mean_halt_times_source         2215 non-null float64
country_code_destination       2215 non-null object
longitude_destination          2215 non-null float64
latitude_destination           2215 non-null float64
mean_halt_times_destination    2215 non-null float64
current_year                   2215 non-null int64
current_week                   2215 non-null int64
current_day                    2215 non-null object
is_weekend                     2215 non-null bool
data                           2215 non-null object
dtypes: bool(1), float64(6), int64(4), object(8)
memory usage: 313.8+ KB

In [67]:
#now lets change the train name
data["train_name"].unique().shape

(864,)

In [0]:
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()

In [0]:
#mapping the data on unique values
data["country_code_source"]=data["country_code_source"].map({'whber':1, 'qwnll':2,'wsluu':3,'logbp':4})
data["country_code_source"]=pd.to_numeric(data["country_code_source"])

In [70]:
data["country_code_destination"].unique()

array(['whber', 'aqfre', 'qwnll', 'zxdec', 'logbp', 'wsluu'], dtype=object)

In [71]:
#changing the data of destination
data["country_code_destination"]=data["country_code_destination"].map({'whber':1, 'qwnll':2,'wsluu':3,
                                                                  'logbp':4,'aqfre':5,'zxdec':6})
data["country_code_destination"]=pd.to_numeric(data["country_code_destination"])

array([1, 5, 2, 6, 4, 3])

In [0]:
data["current_day"]=data["current_day"].map({'Monday':1,'Tuesday':2,'Wednesday':3, 'Thursday':4, 'Friday':5, 
                         'Saturday':6, 'Sunday':7})
data["current_day"]=pd.to_numeric(data["current_day"])

In [0]:
#feature engineering for date and time
#we are not doing more beacause there are several detailed columns are already present in the dataset
data["date_and_time_combined"]=data["current_date"]+" "+data["current_time"]
data["date_and_time_combined"]=pd.to_datetime(data["date_and_time_combined"])
data.drop(["current_date","current_time",'id_code'],axis=1,inplace=True)

In [0]:
#data["is_weekend"].unique()
data["is_weekend"]=np.where(data["is_weekend"]==False,0,1)
data["is_weekend"]=pd.to_numeric(data["is_weekend"])

In [0]:
#getting the hours of the day in 24 hours
data["hour_head"]=data["date_and_time_combined"].dt.hour.head()

In [94]:
cat_cols=["train_name"]
for col in cat_cols:
    freqs=data[col].value_counts()
    k=freqs.index[freqs>5][:-1]
    for cat in k:
        name=col+'_'+cat
        data[name]=(data[col]==cat).astype(int)
    del data[col]
    print(col)

train_name

In [95]:
data.head()

   source_name  destination_name  ...  train_name_ICZVXT  train_name_ICZVWZ
0          130               214  ...                  0                  0
1          248               248  ...                  0                  0
2          248               147  ...                  0                  0
3          177               130  ...                  0                  0
4          544               147  ...                  0                  0

[5 rows x 103 columns]